.app-table {
  .ant-table-tbody > .ant-table-row > td {
    @apply h-32;
  }

  .ant-table {
    @apply w-full overflow-x-auto;

    .ant-table-cell:not(.ant-table-cell-fix-left-last):not(.ant-table-cell-fix-right-first) {
      @apply max-w-200 truncate whitespace-nowrap;
    }

    .ant-table-thead {
      .ant-table-cell {
        @apply whitespace-pre text-13 font-[400] #{!important};
      }
    }

    .ant-table-tbody {
      tr {
        @apply bg-white;
      }

      .ant-table-cell {
        @apply px-10 text-14 font-[400] #{!important};
      }
    }

    .ant-table-cell {
      &::before {
        @apply bg-border #{!important};
      }

      .ant-table-row-expand-icon {
        @apply rounded-full border-primary text-primary;
      }
    }
  }

  .ant-table-thead tr:first-child .ant-table-cell:first-child::before {
    content: unset !important;
  }

  .ant-table-thead tr:first-child .ant-table-cell:not(:first-child)::before,
  .ant-table-thead tr:not(:first-child) .ant-table-cell::before {
    content: '';
    @apply absolute top-1/2 h-22 -translate-y-1/2;
    @apply w-1 bg-border #{!important};
    inset-inline-start: 0 !important;
    transition: background-color 0.2s;
  }

  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
  .ant-table-thead
    > tr
    > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    inset-inline-end: revert;
    width: 0;
  }

  .ant-table-thead > tr > th,
  .ant-table-thead > tr > td,
  .ant-table-thead > tr:not(:last-child) > th[colspan] {
    @apply border-0 border-b-1 border-solid border-b-border;
  }

  .highlighted-row {
    animation: bg-fadeaway 20s forwards;
  }
  @keyframes bg-fadeaway {
    0% {
      @apply bg-danger_bg;
    }
    100% {
      @apply bg-none;
    }
  }

  .ant-pagination-options {
    @apply block !important;
  }
}

.app-table-secondary {
  .ant-table-thead > tr > th {
    @apply bg-secondary text-white;
  }
}
